.fixedWidth{
	width: 75%;
	
	display: inline-block;
}

.top{
	padding-top: 150px;
	
}

.bottom{
	padding-bottom: 100px;
}



.fixed-top{
  padding-top: 15px;
  padding-bottom: 15px;
}

.band img{
	border-radius: 1px;
  	box-shadow: 0px 0px 0px 14px rgba(0,0,0,0.3);
	width: 100%;
	height: auto;
	filter: opacity(100%);
}

.nav-item{
	font-size: 1.5em;
	padding-left: 20px;
}

.bandLogo{
	padding-top: 30px;
	width: 100%;
	height: 100%;
}

.album img{
	width: 100%;
}

.video iframe{
	width: 100%;
	height: 100%;

}

.center{
	text-align: center;
}

@font-face {
  font-family: metrolox;
  src: url('../Fonts/metrolox.ttf');
}

h1{
	color: #844D0C;
	font-family: metrolox; 
	font-size: 10vw;
}

h2{
	color: #844D0C;
	font-family: metrolox; 
	font-size: 3vw;
}

body{
	background: url(../Images/DarkWood.jpg) no-repeat fixed center;
	background-size: 150%;
}